Repository hmcts/civil-general-applications, pull requests merged in 2022-01, with the labels that each got.

#27 Adding Application Summary Message
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-27

#31 Feature/civ 660
  src/main/java/uk/gov/hmcts/reform/civil/aspect/EventEmitterAspect.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventEmitterAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-31

#34 fix general application types display
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-34

#35 Feature/civ 663 refactor
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartGeneralApplicationBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/StartGeneralApplicationBusinessProcessExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartGeneralApplicationBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-35

#40 CIV-728 Change the pojo in accordance with ccd-model change
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-40

#41 Feature/civ 803 2
  lombok.config
  src/main/java/uk/gov/hmcts/reform/civil/CaseDefinitionConstants.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/GeneralApplicationCreationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAApplicationCaseReference.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAApplicationState.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/data/ExternalTaskInput.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/CreateApplicationExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ElementUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-41
