Repository hmcts/civil-general-applications, pull requests merged in 2022-03, with the labels that each got.

#108 Feature/civ 949 a
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAEvidence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-108

#110 CIV-1290 Throw Exception if solicitor is null
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-110

#119 Feature/civ 1408
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspect.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/GARespondentRepresentative.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-119

#127 CIV-80 Judge screen - judicial decision
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAJudgeDecisionOption.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialDecision.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-127

#117 CIV-1290 Refactor Existing code
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-117

#123 update comment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-123

#130 Added dummy result file
  .gitignore
  test-results/dummyResult.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-130

#120 CIV-316 Populate Applicant and respondant Solicitors
  src/main/java/uk/gov/hmcts/reform/ccd/model/SolicitorDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/GARespondentRepresentative.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GARespondentResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/RespondentsResponsesUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-120

#136 CIV-83 General Application : Judge's journey : Make an order
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAJudgeMakeAnOrderOption.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-136

#138 Feature/civ 1633 add direction-response date to model and handle callback to validate it
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-138

#140 CIV-82 Judge's journey : Request more information screen
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAJudgeRequestMoreInfoOption.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialRequestMoreInfo.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-140

#146 Feature/civ 85
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-146

#148 Feature/civ 555
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAJudgeWrittenRepresentationsOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialWrittenRepresentations.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-148

#147 CIV-81 Model
  src/main/java/uk/gov/hmcts/reform/civil/enums/GAJudicialHearingType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudgesHearingListGAspec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-147

#159 CIV-1720 Fix Hint Text in Hearing page
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudgesHearingListGAspec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-159

#141 Judges integration
  Jenkinsfile_CNP
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/GAJudicialHearingType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAJudgeRequestMoreInfoOption.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAJudgeWrittenRepresentationsOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudgesHearingListGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialRequestMoreInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialWrittenRepresentations.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-141
