Repository hmcts/civil-general-applications, pull requests merged in 2022-11, with the labels that each got.

#613 Ga enhancement
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAHearingDateGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-613

#637 changes for key and cve
  Jenkinsfile_CNP
  build.gradle
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-637

#649 Dependabotlatest
  build.gradle
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-649

#628 CIV-5093 scheduler changes for Order Made End Date
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/OrderMadeSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/GAOrderMadeSchedulerExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/OrderMadeSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-628

#660 CIV-5664 - Add tags to App Insights
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/providers.tf
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-660

#661 CIV-5664 - Revert TF version change
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-661

#659 Civ 5714 - Testing support to trigger Judge revisit order made scheduler
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-659

#672 Dependabot p rcombine
  build.gradle
  charts/civil-general-applications/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-672

#684 CIV-5969 User profile dependencies
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-684
