Repository hmcts/civil-general-applications, pull requests merged in 2022-06, with the labels that each got.

#329 Update build.gradle
  build.gradle
  charts/civil-general-applications/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-329

#304 Feature/civ 1690
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GaSpecExternalCaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/DateFormatHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/GASpecCaseEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationCriterion.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GASpecCaseEventExternalTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-304

#322 CIV-2682 Change app state to Response time expired
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToAdditionalResponseTimeExpiredCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToAdditionalResponseTimeExpiredCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-322

#333 Sprint3integration
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToAdditionalResponseTimeExpiredCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToAdditionalResponseTimeExpiredCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-333

#334 Feature/civ 2684
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToJudicialDecisionStateEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationCriterion.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToJudicialDecisionStateEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-334

#336 Feature/civ 782 list for a hearing decision by judge
  src/main/java/uk/gov/hmcts/reform/civil/service/StateGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/StateGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-336

#351 fixed the bug when the option field are unchecked
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-351

#349 Feature/civ 1636
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-349

#350 Removed Variable respondentSolicitor1EmailAddress
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/util/ApplicationNotificationUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-350

#352 Modified location data by adding court address
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-352

#362 added genapp lrd url
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-362

#356 Feature/civ 2407
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialRequestMoreInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-356

#367 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-367

#364 Null check for hearing requirements and code refactor
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-364

#361 Feature/civ 2797 judge preffered loc
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-361

#368 CIV-2714 Refactor hearing requirements fields
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-368

#377 update jenkinscnp
  Jenkinsfile_CNP
  build.gradle
  charts/civil-general-applications/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-377
