Repository hmcts/civil-general-applications, pull requests merged in 2022-05, with the labels that each got.

#236 CIV-926 Respond written resp handler and unit test
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrderHanderTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-236

#249 Civ 1548 api testing
  bin/variables/load-preview-environment-variables.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-249

#254 CIV-2253 Add validation on fee-version
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-254

#256 Feature/civ 2002
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GARespondentResponse.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-256

#257 Add endpoint for api testing
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-257

#273 updated charts to take up new vault values
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-273

#276 Sprint1integration
  build.gradle
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-276

#258 CIV-1817 Fee validation
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-258

#283 Sprint1integration
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-283

#284 Feature/civ 2470
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-284

#285 Sprint1integration
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-285

#271 CIV-934 Without Notice application should be hidden from Respondent S…
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GADetailsRespondentSol.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-271

#277 CIV-2200 DeadLine Calculator to send app to other party
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialRequestMoreInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/WorkingDayIndicator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bankholidays/BankHolidays.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bankholidays/BankHolidaysApi.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bankholidays/PublicHolidaysCollection.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/WorkingDayIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/bankholidays/PublicHolidaysCollectionTest.java
  src/test/resources/bank-holidays.json
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-277

#288 Feature/civ 2200
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-288

#275 Feature/civ 1585
  Jenkinsfile_CNP
  build.gradle
  docker/docmosis/templates/TestMNRequestForInformation.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/MakeJudgesDecisionTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/LocalDateTimeHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/DocmosisDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/DocmosisRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgedecisionpdfdocument/JudgeDecisionPdfDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentMetaData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/PDF.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/ListGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/TemplateDataGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RequestForInformationGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentailOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentDownloadException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentUploadException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/UnsecuredDocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/MakeJudgesDecisionEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ResourceReader.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/MakeJudgesDecisionTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDocumentBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/DocumentBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PDFBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentialGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/UnsecuredDocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/ResourceReaderTest.java
  src/test/resources/document-management/download.success.json
  src/test/resources/document-management/metadata.success.json
  src/test/resources/document-management/response.failure.json
  src/test/resources/document-management/response.success.json
  src/test/resources/document-management/secured.response.failure.json
  src/test/resources/document-management/secured.response.success.json
  src/test/resources/sample-resource.txt
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-275

#291 CIV-2580 Save General Order Text and Dismissal Order text in DB
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-291

#289 CIV-2275 Fix typo and add pdf types
  src/main/java/uk/gov/hmcts/reform/civil/enums/GAJudgeOrderClaimantOrDefenseFixedList.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-289

#298 Update build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-298

#305 Update on GA Template for new file name
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-305

#302 Feature/civ 1950
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/SwaggerPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/DispatchBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/NotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-302

#317 Botdependenciesupgrade
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-317
