Repository hmcts/civil-general-applications, pull requests merged in 2022-08, with the labels that each got.

#420 Civ 3405
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-420

#422 CIV-2911
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-422

#445 Add new checklist for PR review
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-445

#436 fortify
  Dockerfile
  Jenkinsfile_nightly
  config/fortify-client.properties
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-436

#465 disable options
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-465

#469 Fixpipeline
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-469

#437 Feature/civ 3388
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ReferToJudgeOrLegalAdvisorHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GACaseLocation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAReferToJudgeGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAReferToLegalAdvisorGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ReferToJudgeOrLegalAdvisorHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-437

#457 Add Recital text and update docmosis template
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialRequestMoreInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RequestForInformationGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-457

#471 Fixpipeline
  bin/add-roles.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-471

#446 Civ 3408: Additional Payment, (Ways to Pay)
  Jenkinsfile_CNP
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/PaymentsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ServiceRequestUpdateDto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/StateGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationCriterion.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/StateGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-446

#470 Update build.gradle
  Jenkinsfile_CNP
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-470

#464 CIV-3854 Fix document name
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-464

#466 CIV-3664 Rename Judge Makes decision to Make decision for reusability
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventEmitterAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/StateGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-466

#467 Civ 3760 uncloaking without notice make order
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndJudgeMakesDecisionBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/StateGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndJudgeMakesDecisionBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/StateGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-467

#482 CIV-3756 change site id for specified claim for service payment request
  src/main/java/uk/gov/hmcts/reform/civil/config/PaymentsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-482

#488 Fixaatpipeline
  Jenkinsfile_CNP
  bin/variables/load-aat-environment-variables.sh
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-488

#494 CIV-4462 update SERVICE_AUTH_PROVIDER_API_BASE_URL
  bin/variables/load-staging-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-494
