Repository hmcts/civil-general-applications, pull requests merged in 2022-02, with the labels that each got.

#43 CIV-737 Fix the application type as per the prototype
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-43

#44 CIV-727 Hearing screen details model changes
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAUnavailabilityDates.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-44

#48 Feature/civ 206 2
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/LinkApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-48

#52 General apps integration
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GeneralApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/NotificationException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/GeneralApplicationEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/LinkApplicationEventExternalTaskListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GeneralApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/NotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-52

#55 Featute/civ 951 - Make Payment for General Application
  src/main/java/uk/gov/hmcts/reform/civil/enums/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Fee.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PaymentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ElementUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/MonetaryConversions.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/ElementUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/MonetaryConversionsTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-55

#66 General apps integration
  build.gradle
  charts/civil-general-applications/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Fee.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PaymentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ElementUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/MonetaryConversions.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/ElementUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/MonetaryConversionsTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-66

#81 fix claimant or respondent test
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-81

#92 Feature/civ 721 2
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplicationsDetails.java
  src/main/resources/db/migration
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-92

#106 application response
  Jenkinsfile_CNP
  bin/variables/load-staging-environment-variables.sh
  build.gradle
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  config/owasp/suppressions.xml
  lombok.config
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-106
