Repository hmcts/civil-general-applications, pull requests merged in 2022-10, with the labels that each got.

#579 Update build.gradle
  build.gradle
  src/test/java/uk/gov/hmcts/reform/civil/security/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-579

#586 Update build.gradle
  bin/add-roles.sh
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-586

#581 CIV-4973 populate location name
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GACaseLocation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-581

#525 CIV-2801 Application Closed
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/CaseDefinitionConstants.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/UpdateCaseDataController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplicationProceedsInHeritageEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MainCaseClosedEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplicationProceedsInHeritageEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MainCaseClosedEventCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-525

#584 CIV-5029
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-584

#592 CIV-5012 add 2 new parent states
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-592

#601 build/upgrade-staging-pipeline
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-601

#591 CIV-3287 Add new application types for LR
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-591

#583 CIV-4981 Refactor notification deadline calc.
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-583

#605 Feature/5227
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAHearingDateGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-605

#580 CIV-3726: Modified GA ccd branch
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-580

#614 access profile "payment-access" added
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-614

#609 CIV-5112: Updated stale configuration
  .github/stale.yml
  .github/workflows/stale.yml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-609

#611 CIV-5385 - Add Content Type and Source to secret
  .gitignore
  infrastructure/main.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-general-applications-pr-611

#603 updated exclusions command to remove SDO-HNL to just HNL
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-603

#615 Dependencybotmerge
  .github/stale.yml
  .github/workflows/stale.yml
  Jenkinsfile_CNP
  bin/add-roles.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-615

#612 Civ 5251
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-612

#627 Dependentbotmerge
  bin/add-roles.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-627
