Repository hmcts/civil-general-applications, pull requests merged in 2022-04, with the labels that each got.

#160 Civ 1526 preview environment
  Jenkinsfile_CNP
  bin/pull-latest-general-app-ccd-files.sh
  build.gradle
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-160

#158 Feature/civ 1427
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAHearingType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAHearingDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-158

#186 CIV-1818 Populate Judges Order with Draft Order from Applicant
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-186

#187 Days to Date for Written Representations - Sequential Representations
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialWrittenRepresentations.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-187

#188 add applicant date validation
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-188

#194 Judges integration
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialWrittenRepresentations.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-194

#199 Sprint5integration
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudgesHearingListGAspec.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-199

#200 Add 7 day txt
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-200

#201 Feature/civ 1808
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-201

#204 dot after 7 day txt
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-204

#205 Attempting to fix pdb error
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-205

#197 CIV-1754 Change hearing label for Urgent application
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/RespondentsResponsesUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-197

#210 Update values.yaml
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-210

#202 Sprint5integration
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GASolicitorDetailsGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ApplicationNotificationUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/RespondentsResponsesUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/util/ApplicationNotificationUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-202

#206 CIV-1547 PACT testing
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/civil/IdamConsumerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-206

#212 CIV-1976 Text change
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-212

#214 sprint6 integration branch
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-214

#213 Clear the existing Response Journey data after adding it to collectio…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-213

#245 Feature/civ 1488
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveAwaitingRespToJudicialDecEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/AwaitingResponseStatusSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/GAResponseDeadlineProcessorExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/config/ExternalTaskListenerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveAwaitingRespToJudicialDecEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/AwaitingResponseStatusSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-245

#243 Feature/civ 1725
  src/main/java/uk/gov/hmcts/reform/civil/enums/GAJudgeOrderClaimantOrDefenseFixedList.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudgesHearingListGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-243

#248 Feature/civ civ 1691
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-248
