Repository hmcts/civil-general-applications, pull requests merged in 2022-12, with the labels that each got.

#681 Civ 6118 Refactoring names for general Application Collections
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AssignCaseToResopondentSolHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-681

#697 CIV-5968 Move Postgresql to chart-java
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-697

#704 Dependabotdecember2
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-704

#685 CIV-5784 Refactor Search service classes into one
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/search/Query.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/AwaitingResponseStatusSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/CaseStateSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/DirectionOrderSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/OrderMadeSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/RequestForInformationrSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/WrittenRepresentationSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/AwaitingResponseStatusSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/CaseStateSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/DirectionOrderSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/OrderMadeSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/RequestForInformationSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/WrittenRepresentationSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-685

#680 CIV-5443 Refactor GA type
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-680

#698 CIV-5993 Added additional logging statements for payment handler
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-698

#725 Civ 6338 1
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-725

#726 Dependabotdec13th
  Jenkinsfile_CNP
  build.gradle
  charts/civil-general-applications/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-726

#715 CIV-6345 Remove 7 day paragraph from order field
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-715

#717 CIV-6282 judicial make decision order doc preview
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-717

#732 CIV-6398 Remove CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-732

#745 Dependencybotdec19
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-745

#731 CIV-6314 Dont overwrite judge order documents
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RequestForInformationGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentailOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentialGeneratorOrderTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-731

#748 GA UAT testing
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAByCourtsInitiativeGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-748

#751 Remove nonprod c UI
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-751

#727 CIV-6296 Update list of courts in drop down when judge lists for hearing
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-727
