Repository hmcts/civil-general-applications, pull requests merged in 2023-04, with the labels that each got.

#964 CIV-7233 Enforcing conventions on branch names and commit messages
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/main.yml
  README.md
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-964

#970 CIV-5603 - Add Key Vault and Secrets
  infrastructure/key-vault-secrets.tf
  infrastructure/key-vault.tf
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-general-applications-pr-970

#974 CIV-0000 Increased memory
  charts/civil-general-applications/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-974

#979 CIV-0000 Update Jenkinsfile_CNP to point gaccd camunda to master
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-979

#973 CIV-3618 Respondent Debtor Journey
  src/main/java/uk/gov/hmcts/reform/civil/enums/GADebtorPaymentPlanGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/GARespondentDebtorOfferOptionsGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GARespondentDebtorOfferGAspec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-973

#969 CIV-7540 final order process
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PaymentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-969

#978 CIV-7675 Fix GA code smell blocker & critical in Sonarcloud
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/UpdateCaseDataController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-978

#985 CIV-7675 Fix Sonar bug
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/UpdateCaseDataController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGeneratorTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-general-applications-pr-985

#984 CIV-6245 Allow Judges to see who has made the application
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
Labels: ns:civil, prd:civil, destroy, rel:civil-general-applications-pr-984

#986 CIV-0000 Pointing ga ccd to feat/CIV-6245
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-986

#908 CIV-7072 upgrade springboot
  Jenkinsfile_CNP
  README.md
  bin/add-roles.sh
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/config/ExitSurveyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/HttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/UpdateCaseDataController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/common/Element.java
  src/main/java/uk/gov/hmcts/reform/civil/security/JwtGrantedAuthoritiesConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-908

#989 CIV-0000 remove suppressions as part of springboot upgrade
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-989

#991 CIV-8283 Regression bug locationName is not getting updated in GA after SDO
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateGaLocationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateGaLocationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-991
