Repository hmcts/civil-general-applications, pull requests merged in 2023-05, with the labels that each got.

#993 CIV-8117 Settle or Discontinue by consent
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-993

#996 CIV-0000 changing to latest spring security
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-996

#990 CIV-7431 Set CategoryId for GA Order documents
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AssignCategoryId.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/AssignCategoryIdTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-990

#955 CIV-7105 changing idam s2s
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-955

#1002 CIV-0000 relevant changes to start using yarn builder
  .nvmrc
  .yarnrc.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1002

#1005 CIV-0000 nightly fix changes
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1005

#1004 CIV-3772 consent order
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1004

#1006 CIV-8316 Remove evidence doc from civil case
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AssignCategoryId.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1006

#1008 CIV-8316 uncommenting code for orders
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1008

#1011 CIV-7929 Caseworker to approve Consent Order
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApproveConsentOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/ConsentOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAApproveConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/consentorder/ConsentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApproveConsentOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PDFBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/consentorder/ConsentOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1011

#1012 CIV-8035 Added notification for consent order
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1012

#1017 CIV-8414 changing in dateformatter for hearing form generator
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1017

#1015 CIV-8431 Case File Viewer - Applicant and Respondent upload evidence
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrderHanderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1015

#1021 CIV-0000 adding exclusions for shuttered.json
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1021

#1019 CIV-7930 updated logic After SDO
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ReferToJudgeOrLegalAdvisorHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ReferToJudgeOrLegalAdvisorHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1019

#1016 CIV-7931 Docmosis Output when Consent Order Approved
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApproveConsentOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/ConsentOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/StateGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/consentorder/ConsentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApproveConsentOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/StateGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/consentorder/ConsentOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1016

#1020 CIV-5226 fees
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1020

#1026 CIV-0000 switch off stitching
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1026

#1023 CIV-8531 Skip Additional Payment Journey in given scenarios
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/StateGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/AdditionalPaymentsReferenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/StateGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1023
