Repository hmcts/civil-general-applications, pull requests merged in 2023-01, with the labels that each got.

#750 CIV-6284 6558 Update order template
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgedecisionpdfdocument/JudgeDecisionPdfDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RequestForInformationGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentailOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateFormatterUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/DateFormatterUtilTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentialGeneratorOrderTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-750

#752 Revert Changes CUI
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-752

#764 Dependabotjan4
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-764

#778 Fix CVE
  build.gradle
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-778

#780 Dependabot
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-780

#749 Civ 3205
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-749

#782 CIV-6682 Refactor hearing screen appln and resp preference wording
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-782

#784 Civ 6012 Changes to General Apps for new camunda flow Hearing Scheduled
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingApplicationDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingChannel.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingDuration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHearingScheduledBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartHearingScheduledBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingScheduledNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndHearingScheduledBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/ApplicationProcessCaseEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/EndHearingScheduledEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/MakeJudgesDecisionEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/StartHearingScheduledEventExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHearingScheduledBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartHearingScheduledBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingScheduledNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndHearingScheduledBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-784

#806 CIV-5707 - Upgrade Terraform 0.12.X to 0.13.X
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, add-or-update, rel:civil-general-applications-pr-806

#800 JanJudgeUat
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-800

#807 CIV-6682 Fix Sol support requirement wording
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-807

#820 CIV-5707 - Upgrade TF from 0.13.X to 0.14.X
  infrastructure/.terraform-version
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-general-applications-pr-820

#826 CIV-5707 - Upgrade TF 0.14.X to 0.15.X
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, add-or-update, rel:civil-general-applications-pr-826

#827 CIV-5707 - Upgrade TF 0.15.X to 1.3.X
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, no-changes, rel:civil-general-applications-pr-827

#809 GA case progression
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingApplicationDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingChannel.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingDuration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHearingScheduledBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartHearingScheduledBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingScheduledNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndHearingScheduledBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/ApplicationProcessCaseEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/EndHearingScheduledEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/MakeJudgesDecisionEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/StartHearingScheduledEventExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHearingScheduledBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartHearingScheduledBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingScheduledNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndHearingScheduledBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-809

#828 few recent upgrades
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  infrastructure/state.tf
Labels: ns:civil, prd:civil, no-changes, rel:civil-general-applications-pr-828

#804 Civ 6502
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAHearingNoticeApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAHearingNoticeDetail.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-804

#823 Civ 6772 6683
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-823

#846 Dependabotjan30
  build.gradle
  charts/civil-general-applications/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-846

#811 6018-
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-811

#834 Civ 6013- hearing scheduled notification changes
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyHearingNoticeClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyHearingNoticeDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHearingScheduledBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyHearingNoticeClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyHearingNoticeDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-834
