Repository hmcts/civil-general-applications, pull requests merged in 2023-06, with the labels that each got.

#1022 CIV-8533 Consent Order After additional payment
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/StateGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/StateGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1022

#1027 Updating renovate config
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1027

#1031 CIV-8531 2
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-general-applications-pr-1031

#1046 CIV-0000 Change renovate timings
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1046

#1030 CIV-7575 Adjourn or Vacate Hearing Fee Scenarios
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GeneralApplicationCreationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1030

#1028 CIV-8609 Consent Order- Stay the Claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApproveConsentOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAApproveConsentOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/CaseStateSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/CaseStateSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1028

#1052 CIV-0000 upgrade spring boot to latest fix cve
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1052

#1034 CIV-8310 CIV-8310 Draft application for scenario with and Without Notice
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/GADraftForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SolicitorEmailValidation.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/OrgPolicyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PDFBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1034

#1035 CIV-7518 Refactor StateFlow Engine
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudgesHearingListGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1035

#1055 CIV-9132 Refactor respondent one orgid
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1055

#1050 CIV-8492 Draft application for scenario - If with notice (not urgent) not responded
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToJudicialDecisionStateEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/GADraftForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToJudicialDecisionStateEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1050

#1042 CIV-8430 Rename Adjourn or vacate a hearing
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1042

#1051 CIV-8601 Hide uploaded evidence in case file viewer until Application Paid
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1051

#1061 CIV-0000 Pointing to master
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1061

#1064 CIV-0000 removing few maven repository urls
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1064

#1049 CIV-8961 Polling Event
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CamundaRestEngineApi.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CamundaRestEngineClient.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/BusinessProcessStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndHearingScheduledBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndJudgeMakesDecisionBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/FailedEventEmitterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GaSpecExternalCaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GeneralApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/TaskHandlerHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/BusinessProcess.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/CaseStateSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/FailedEventEmitterExternalTaskListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndHearingScheduledBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndJudgeMakesDecisionBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/FailedEventEmitterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GASpecCaseEventExternalTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GeneralApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/TaskHandlerHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/CaseStateSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchServiceTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-general-applications-pr-1049

#1068 CIV-0000 increment jackson datatype version
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1068

#1069 CIV-9298 remove unused parameter
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1069

#1072 CIV-0000 updated jars
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1072
