Repository hmcts/civil-general-applications, pull requests merged in 2023-09, with the labels that each got.

#1114 CIV-0000 update spring boot
  build.gradle
  config/owasp/suppressions.xml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1114

#1118 CIV-0000 temp S2S change
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1118

#1110 CIV-10069 Refactor Judicial options
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAJudgeDecisionOption.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1110

#1115 CIV-9933 Applications added to main case collection after payment
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1115

#1123 CIV-0000 reverting ga-ccd branch back to master
  Jenkinsfile_CNP
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1123

#1122 CIV-10448 S2S refactor
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AuthorisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/AuthorisationServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1122

#1107 CIV-9750 not agree respond
  charts/civil-general-applications/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/GADraftForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GARespondentResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1107

#1117 CIV-10102 make order without hearing P1
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1117

#1125 CIV-0000 revert PR-1117
  Jenkinsfile_CNP
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1125

#1119 CIV-10100 Assisted Order for Applications change Order date heard
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderDateHeard.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderMadeDateHeardDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1119

#1127 CIV-0000 updated back to master
  Jenkinsfile_CNP
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1127

#1124 CIV-10423 Make an Order without Hearing Part 2
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAByCourtsInitiativeGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1124

#1126 CIV-9804 Added new BPMN flows for Response to Judge Directions for uploading a document to Main case
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrderHanderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1126

#1134 CIV-10423 ga ccd point to master
  Jenkinsfile_CNP
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1134

#1135 CIV-0000 add commas
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1135

#1133 CIV-10426 Order Updates - Assisted Order for Applications - Further Hearing
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/common/DynamicListElement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderDateHeard.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderFurtherHearingDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToJudicialDecisionStateEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1133

#1130 CIV-9787 Application Orders - Free Form
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/FreeFormOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1130

#1132 CIV-10646 application text change
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1132

#1136 CIV-10231 Update Application Type Name
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1136

#1139 CIV-10664 Update Judge Recital Text
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1139
