Repository hmcts/civil-general-applications, pull requests merged in 2023-03, with the labels that each got.

#924 CIV-7148 Hide Orders on Main Case
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-924

#933 CIV-0000 ways to payfix
  Jenkinsfile_CNP
  charts/civil-general-applications/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-933

#922 CIV-7037 Removed Payment Failed Events and Methods
  Jenkinsfile_CNP
  charts/civil-general-applications/values.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PbaPaymentFailureNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/PaymentExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/StartGeneralApplicationBusinessProcessExternalTaskListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/PbaPaymentFailureNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-922

#935 CIV-0000 fixpipelinebrokenbycivilservice
  Jenkinsfile_CNP
  charts/civil-general-applications/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-935

#939 CIV-7599 charts changes
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-939

#938 CIV-7005 Added new main case data variable respondent1OrganisationID…
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-938

#942 CIV-7508 further-changes necessary changes. update civil service chart
  Jenkinsfile_CNP
  build.gradle
  charts/civil-general-applications/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-942

#944 CIV-0000 cve cleanup
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-944

#936 CIV-7411 remove ga exclusion
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateGaCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateGaCaseDataCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-936

#943 CIV-7535 add event and case name
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-943

#946 CIV-7536 Journey 2
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/FreeFormOrderValues.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-946

#950 CIV-0000 fix cve
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-950

#952 CIV-0000 ccd chart update
  charts/civil-general-applications/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-952

#954 CIV-7560 Refactor GA Business process for Multiple GA
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-954

#961 CIV-6678 Refactor optional paragraph radio button new
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAByCourtsInitiativeGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudicialMakeAnOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAOrderCourtOwnInitiativeGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAOrderWithoutNoticeGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentailOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentialGeneratorOrderTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-general-applications-pr-961

#883 CIV-7072 upgrade-java-sdk-17
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  config/owasp/suppressions.xml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GASpecCaseEventExternalTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-883, destroy

#951 CIV-4995 Update CaseManagementLocation when main claim changes its location
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateGaLocationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GACaseLocation.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateGaLocationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-951

#960 CIV-7537 case progression assisted journey
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/AppealOriginTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/AssistedCostTypesList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/ClaimantDefendantNotAttendingType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/ClaimantRepresentationType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/DefendantRepresentationType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/FinalOrderToggle.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/HeardFromRepresentationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/LengthOfHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/OrderMadeOnTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/PermissionToAppealTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/HearingLength.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderAppealDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderCost.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderFurtherHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderGiveReasonsDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderHeardRepresentation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderMadeDateHeardDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderRecitalRecord.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/ClaimantDefendantRepresentation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/DetailText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/DetailTextWithDate.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/HeardClaimantNotAttend.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/HeardDefendantNotAttend.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-960
