Repository hmcts/civil-general-applications, pull requests merged in 2023-10, with the labels that each got.

#1144 CIV-10428 Assisted order appeal section validations
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/AssistedCostTypesList.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AppealTypeChoiceList.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AppealTypeChoices.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderAppealDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/finalorder/AssistedOrderCost.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1144

#1147 CIV-10664 Add missing word in recital text
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1147

#1142 CIV-10598 Concurrent
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgedecisionpdfdocument/JudgeDecisionPdfDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentailOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentialGeneratorOrderTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1142

#1145 CIV-10599 Update Request info doc and date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgedecisionpdfdocument/JudgeDecisionPdfDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RequestForInformationGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1145

#1153 CIV-10144 Judge Make Order Document generator
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgedecisionpdfdocument/JudgeDecisionPdfDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1153

#1156 CIV-10926 Update written rep label
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1156

#1159 CIV-0000 upgrading to java 5.0.0
  charts/civil-general-applications/Chart.yaml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1159

#1148 CIV-10823 new role added for pcq
  bin/add-roles.sh
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1148
