Repository hmcts/civil-general-applications, pull requests merged in 2023-07, with the labels that each got.

#1062 CIV-7590 Enabling cross browser tests
  Jenkinsfile_nightly
  bin/pull-latest-general-app-ccd-files.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1062

#1065 CIV-9414 ccd datastore 403 forbidden error issue
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1065

#1075 CIV-0000 Update Jenkinsfile_CNP SETTING MASTER
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1075

#1081 CIV-9513 Removed exclusion for cui nonprod
  Jenkinsfile_CNP
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1081

#1077 CIV-9383 Generate Draft document for zero fee
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1077

#1078 CIV-9598 updated execution condition
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/FailedEventEmitterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/FailedEventEmitterExternalTaskListener.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1078

#1083 CIV-9676 nightly API build changes
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1083

#1076 CIV-9596 blocker task
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/WaitCivilDocUpdatedExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GASpecCaseEventExternalTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1076

#1082 CIV-7897 Update Event Roles
  bin/add-roles.sh
Labels: ns:civil, prd:civil, stale, rel:civil-general-applications-pr-1082

#1090 CIV-9734 adding s2s
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CallbackControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1090

#1093 CIV-0000 Changeidamclientid
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-1093
