Repository hmcts/civil-general-applications, pull requests merged in 2023-02, with the labels that each got.

#851 changing back to old version and remove duplicate dependency check
  Dockerfile
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-851

#835 Civ 6017
  src/main/java/uk/gov/hmcts/reform/civil/enums/GAJudicialHearingType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/HearingForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHearingScheduledBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-835

#862 Dependabotfeb3
  build.gradle
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-862

#879 Enabling R2 GA
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-879

#875 CIV-7003 updated confirmation message on submission of application
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-875

#876 CIV-6925 Refactor judge notification camunda event
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-876

#882 Point GA CCD Branch to Master
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-882

#848 Civ 6796
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-848

#873 CIV-5433 - Add Title validation and CodeOwners
  .github/CODEOWNERS
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-873

#900 CIV-0000 fix yarn lock issue
  Jenkinsfile_CNP
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-900

#885 CIV-7083 Dependabot replaced by Renovate
  .github/dependabot.yml
  .github/renovate.json
  Dockerfile
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-885

#897 CIV-6868 New Event callback handler added for Data Migration
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateGaCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateGaCaseDataCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-897

#904 CIV-7072 changes to introduce app connection string
  infrastructure/main.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-general-applications-pr-904

#913 CIV-0000 Update add-roles.sh
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-913

#909 CIV-7014 WaysTo Pay Refactoring
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartGeneralApplicationBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GeneralApplicationAfterPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/StartGeneralApplicationMakeDecisionBusinessProcessExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GeneralApplicationAfterPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-909

#917 CIV-7014 ga-ccd revert o master
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-917

#905 CIV-7117 Recfor Listing for hearing Respondent Noft.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyHearingNoticeDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ApplicationNotificationUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHearingScheduledBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndJudgeMakesDecisionBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyHearingNoticeDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/ApplicationNotificationUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-905

#921 CIV-7014 Modified confirmation body message
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-general-applications-pr-921
