Repository hmcts/civil-general-applications, pull requests merged in 2024-05, with the labels that each got.

#1313 DTSCCI-258 Add logging for fee comparison
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Fee.java
  src/test/java/uk/gov/hmcts/reform/civil/model/FeeTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1313

#1305 CIV-13475 Add Defendant CaseRole For LRvsLIP 1V1
  bin/add-roles.sh
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/EventSubmissionParams.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/dto/EventDto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AssignCaseToResopondentSolHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SolicitorEmailValidation.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/events/CaseEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/GaForLipService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CaseEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SolicitorEmailValidationTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1305

#1324 CIV-14006 Add featureflage for GA for LIPS
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AssignCaseToResopondentSolHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GaForLipService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SolicitorEmailValidation.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SolicitorEmailValidationTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1324
