Repository hmcts/civil-general-applications, pull requests merged in 2024-10, with the labels that each got.

#1502 CIV-15062 - Add roles for ctsc
  bin/add-roles.sh
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1502

#1497 DTSCCI-894 Potential concurrency violations
  src/main/java/uk/gov/hmcts/reform/civil/service/HwfNotificationService.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1497

#1471 DTSCCI-889 - Fix concurrency vulnerability
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckStayOrderDeadlineEndTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CheckUnlessOrderDeadlineEndTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DeleteExpiredResponseRespondentNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DocUploadNotifyTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGaDocUploadProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGaHwfNotifyProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndHearingScheduledBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndJudgeMakesDecisionBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GaSpecExternalCaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GeneralApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ExternalTaskData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandlerTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1471

#1504 CIV-15174 Add parameter values for notification deadlines
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1504

#1496 DTSCCI-893 Potential concurrency violations
  src/main/java/uk/gov/hmcts/reform/civil/service/AuthorisationService.java
Labels: prd:civil, stale, ns:civil, rel:civil-general-applications-pr-1496

#1503 CIV-15390 Add GA LIP fields
  src/main/java/uk/gov/hmcts/reform/civil/enums/DebtPaymentOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/model/DebtPaymentEvidence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CertOfSC.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1503

#1511 CIV-15078 CoSc check your answer screen
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1511

#1529 DTSCCI-813 amending config for definitions caseType id extension
  bin/utils/process-definition.sh
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1529

#1519 CIV-15331 Bulk sp5
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/FeeType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToJudicialDecisionStateEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondentResponseDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RespondentLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GaForLipService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HwfNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/MoveToJudicialDecisionStateEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondentResponseDeadlineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrderHanderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GaForLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HwfNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1519

#1521 CIV-0000 sprint CIV-15078, CIV-15290
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GeneralApplicationAfterPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GeneralApplicationAfterPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1521

#1536 CIV-0000 fix bilingualHint behind feature toggle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1536

#1506 CIV-15151 trigger email notification once translated document has been uploaded
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndBusinessProcessGASpecWithoutWATaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GaForLipService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HwfNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/EndBusinessProcessGASpecWithoutWATaskExternalTaskListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndBusinessProcessGASpecWithoutWATaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GaForLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HwfNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1506

#1540 CIV-14289 refactor iswithnotice mapping when judge uncloaks
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1540

#1505 CIV-14567 Order sent in the post to applicant and respondent LiP
  build.gradle
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Address.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/AssistedOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/FreeFormOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/HearingForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgedecisionpdfdocument/JudgeDecisionPdfDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DownloadedDocumentResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/TemplateDataGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RequestForInformationGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentailOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentDownloadService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/AddressBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PartyBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SecuredDocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentialGeneratorOrderTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1505

#1541 DTSCCI-1059 use court location based on civil court type
  src/contractTest/java/uk/gov/hmcts/reform/civil/LocationReferenceDataApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/client/LocationReferenceDataApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataServiceTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1541

#1530 CIV-15108 Notifications for upload translated doc
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationUploadTranslatedDocumentApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationUploadTranslatedDocumentRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationUploadTranslatedDocumentApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationUploadTranslatedDocumentRespondentHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1530

#1531 CIV-15311 fix cui respond select empty court location
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1531
