Repository hmcts/civil-general-applications, pull requests merged in 2024-06, with the labels that each got.

#1326 CIV-0000 Bulk branch s2 to master
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/FeesPaymentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/FeesPaymentController.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/CaseDataUpdateException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/PaymentsApiException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/RetryablePaymentException.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CitizenGeneralAppFeePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CardPaymentStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentStatusService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CitizenGeneralAppFeePaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1326

#1319 CIV-13537 LR vs Lip with notice
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AssignCaseToResopondentSolHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GaForLipService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SolicitorEmailValidation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SolicitorEmailValidationTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1319

#1333 CIV-9456 Create GA for LiP
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1333

#1335 CIV-14041 Suppress service request if HWF
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFees.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1335

#1341 DTSCCI-377 replace local apis with client provided
  build.gradle
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/client/CaseAccessDataStoreApi.java
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/PaymentRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CamundaRestEngineApi.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CamundaRestEngineClient.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/EventEmitterService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GASpecCaseEventExternalTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/EventEmitterServiceTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1341

#1343 CIV-14140 GA for LiP's - Authorise case worker to access GA application to allow to submit HWF events
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/HelpWithFees.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1343

#1349 CIV-9465 LiP Pay for Application
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/FeesPaymentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1349

#1356 DTSCCI-377 removing local apis when there are external lib
  src/main/java/uk/gov/hmcts/reform/civil/client/DocmosisApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/client/FeesApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/client/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/OnBoardingOrganisationControlService.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/DxAddress.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Organisation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/SuperUser.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/OnBoardingOrganisationControlServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentGeneratorServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1356

#1347 CIV-9441 Update CUI dashboard
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/client/DashboardApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationCompleteTaskListUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationCreatedTaskListUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/grammar/Set.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/model/Transition.java
  src/main/java/uk/gov/hmcts/reform/dashboard/data/ScenarioRequestParams.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationCompleteTaskListUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationCreatedTaskListUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1347

#1346 DTSCCI-393 IDAM to get an access token from cache
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/OrganisationServiceTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1346

#1370 DTSCCI-375 replace restTemplate with ref data client
  src/main/java/uk/gov/hmcts/reform/civil/client/LocationReferenceDataApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppLocationRefDataServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1370

#1371 DTSCCI-379 add contract tests
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/civil/BaseContractTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/DocmosisApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/ExternalOrganisationApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/IdamConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/InternalOrganisationApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/InternalOrganisationDetailsApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/LocationReferenceDataApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/config/ContractTestsConfiguration.java
  src/contractTest/resources/TEST_DOCUMENT_1.pdf
  src/contractTest/resources/logback-test.xml
  src/main/java/uk/gov/hmcts/reform/civil/client/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/OnBoardingOrganisationControlService.java
  src/main/java/uk/gov/hmcts/reform/civil/model/OrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/OnBoardingOrganisationControlServiceTestResponse.java
  src/test/java/uk/gov/hmcts/reform/civil/service/OrganisationResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1371

#1357 CIV-12761 Application Fee - HwF Caseworker - No remission
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/FeeType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/NoRemissionDetailsSummary.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CitizenGeneralAppFeePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/HelpWithFees.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CitizenGeneralAppFeePaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1357

#1360 CIV-12771 Application Fee - HwF Caseworker
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/HwFMoreInfoRequiredDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/HelpWithFeesMoreInformation.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/HwFFeeTypeServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1360

#1362 CIV-12769 Updated HWF ref number
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdatedRefNumberHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdatedRefNumberHWFCallbackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1362

#1366 CIV-12773 Application Fee - HwF Caseworker - Full remission HwF - granted
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/HwFFeeTypeServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1366

#1361 CIV-12767 added code for invalid HwF
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/HwFFeeTypeServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1361

#1365 CIV-13767 Added environment variable for CUI_URL
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/FeesPaymentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CitizenGeneralAppFeePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GeneralApplicationAfterPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CitizenGeneralAppFeePaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GeneralApplicationAfterPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1365

#1310 DTSCCI-202 Add upload timestamp to Document object
  charts/civil-general-applications/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1310

#1344 CIV-14060 notify app to pay additional fee uncloak
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1344

#1340 CIV-14139 assign role
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1340

#1375 DTSCCI-379 refactored fees contract test
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1375

#1363 DTSCCI-332 display full name of user
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/IdamUserUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialFinalDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/IdamUserUtilsTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1363
