Repository hmcts/civil-general-applications, pull requests merged in 2024-08, with the labels that each got.

#1409 CIV-14282 - Court response - request more information
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocUploadUtils.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1409

#1402 CIV-14334 addedCaseEvent to notify caseworker for HWF
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1402

#1404 CIV-12762 Claimant Notification for NO_REMISSION_Event
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHwfNotifyProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HwfApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HWFCallbackHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdatedRefNumberHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGaHwfNotifyProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HwfNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/EndGaBusinessProcessExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHwfNotifyProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HwfApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdatedRefNumberHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGaHwfNotifyProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HwfNotificationServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1404

#1419 CIV-14036 Populate HWF Data
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1419

#1418 CIV-14514 changes for accessing the case for GA respondent
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1418

#1428 CIV-14902 Defendant Dashboard - Without notice becomes with notice - GA LiPs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1428
