Repository hmcts/civil-general-applications, pull requests merged in 2024-11, with the labels that each got.

#1556 CIV-15457 Update full remission check
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/FeePaymentOutcomeDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1556

#1547 CIV-15600 Change GA state
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GeneralApplicationAfterPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HWFCallbackHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GeneralApplicationAfterPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1547

#1538 CIV-15115 showing the translated docs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1538

#1544 CIV-15537 Display user ID against uploaded translated documents
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
Labels: prd:civil, stale, ns:civil, rel:civil-general-applications-pr-1544

#1553 CIV-15543 REMOVED FEE VALIDATION FOR LIP CASES
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CreateServiceRequestHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1553

#1545 DTSCCI-0059 Configure gen apps to fetch app from key vault
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  infrastructure/key-vault-secrets.tf
  infrastructure/main.tf
Labels: prd:civil, ns:civil, enable_keep_helm, aat/destroy, prod/destroy, rel:civil-general-applications-pr-1545

#1566 CIV-15496 Show GA submitted notification when HWF
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1566

#1569 DTSCCI-000 - Make nightly tests run first in civil-general-applications nightly
  build.gradle
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1569

#1575 CIV-15113 Add EM_CCD_ORCHESTRATOR_URL env var
  Jenkinsfile_CNP
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.yaml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1575

#1573 CIV-15809 More Information Required HwF notification not shown to applicant
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, aat/add-or-update, prod/add-or-update, rel:civil-general-applications-pr-1573

#1571 CIV-15836 fix findGaCreator for Lip Resp
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1571

#1578 CIV-15773 Display response preferred location
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1578

#1572 CIV-15802 Update CasesController GA CUI
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1572

#1589 DTSCCI-0000 - Add logs For Scheduled Job
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1589

#1586 CIV-15904 dashboard notification missing for uploading additional docs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadAdditionalDocumentsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadAdditionalDocumentsCallbackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1586

#1584 CIV-15515 HwF screen prepopulated value
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1584

#1580 CIV-15544 Avoid dashboard fee pay notify for free GA
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationIssuedFeeRequiredHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationIssuedFeeRequiredHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1580

#1592 DTSCCI-947 replicating configuration from civil-service to increase lock duration
  src/main/java/uk/gov/hmcts/reform/civil/config/ExternalTaskListenerConfiguration.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1592

#1594 DTSCCI-947 prevent duplicates
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1594

#1582 CIV-15876 HWF No remission outcome to additional application fee - Notifications not updating when payment is online
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1582

#1593 CIV-15714 - GA Lip - Unable to upload translated document after application is listed for hearing
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1593
