Repository hmcts/civil-general-applications, pull requests merged in 2024-09, with the labels that each got.

#1431 CIV-14957 Avoid GA Duplicates in Master Collection
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
Labels: prd:civil, stale, ns:civil, rel:civil-general-applications-pr-1431

#1426 CIV-14276 provide more information screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RespondForInformationGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RespondForInformationGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1426

#1435 CIV-14960 Updating getCaseApplications
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CasesController.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1435

#1439 CIV-13999 Upload additional documents
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CasesController.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1439

#1432 CIV-14353 Court response - request written representations - provide more information screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RespondToWrittenRepresentationGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RespondToWrittenRepresentationGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1432

#1440 CIV-9487 Handle hearing duration estimate not provided
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1440

#1446 CIV-15199 removed condition to make ParentClaimantIsApplicant casefield null
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1446

#1438 DTSCCI-835 add logs to Assign GA to sols workflow
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AssignCaseToResopondentSolHelper.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1438

#1443 CIV-14406 Dashboard Notification - GA for LiPs - Pay application fee
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationCompleteTaskListForClaimantUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationCompleteTaskListForRespondentUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationCreatedTaskListForClaimantUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationCreatedTaskListForRespondentUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationIssuedFeeRequiredHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationIssuedFeeRequiredHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1443

#1456 DTSCCI-874 add callback process in end of doc upload event
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGaDocUploadProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/EndDocUploadBusinessProcessExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndGaDocUploadProcessTaskHandlerTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1456

#1444 CIV-14421 - Dashboard Notification - GA for LiPs - request more info
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1444

#1447 CIV-14404 Dashboard Notification - GA for LiPs - Application is being processed (after payment/HwF)
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1447

#1459 CIV-14412 Respondent notificaiton when application uncloaked
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1459

#1462 CIV-9450 lip urgent applications
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1462

#1464 CIV-0000 Bulk cui sprint branch
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1464

#1463 CIV-15255 Application status not moving to Hearing Scheduled
  src/main/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationService.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1463

#1448 CIV-14422 Dashboard Notification - GA for LiPs - other party uploads …
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadAdditionalDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrderHanderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadAdditionalDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1448

#1455 CIV-14408 - (CIV-14407) Dashboard Notification - GA for LiPs - Other parties request change (URGENT/Non-Urgent)
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/event/DeleteExpiredResponseRespondentNotificationsEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateRespondentDashboardNotificationForApplicationSubmittedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondentResponseDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/DeleteExpiredResponseRespondentNotificationsEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DeleteExpiredResponseRespondentNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/DeleteExpiredResponseRespondentNotificationSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/DeleteExpiredResponseRespondentNotificationsExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateRespondentDashboardNotificationForApplicationSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondentResponseDeadlineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/DeleteExpiredResponseRespondentNotificationsEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DeleteExpiredResponseRespondentNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/DeleteExpiredResponseRespondentNotificationSearchServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1455

#1472 DTSCCI-872 remove unsecure doc api call references
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/UnsecuredDocumentManagementService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RespondToWrittenRepresentationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/consentorder/ConsentOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RespondForInformationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentialGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/UnsecuredDocumentManagementServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1472

#1457 CIV-14413 GA Hearing Scheduled Dashboard Notification for applicant and respondent
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1457

#1468 CIV-15218 fix case status after addl payment
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1468

#1434 CIV-14897 Without notice application becomes available for respondent
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1434

#1469 CIV-14430 Dashboard notification for GA Lip Hwf
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/HwFDashboardNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1469

#1437 DTSCCI-788 add casename in ga for manage case
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CreateApplicationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1437

#1483 DTSCCI-816 fix npe on multiple ga apps
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1483

#1479 CIV-15110 Handler for new event
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1479

#1486 CIV-00000 skip_provider_registration to true
  infrastructure/providers.tf
  infrastructure/state.tf
Labels: prd:civil, ns:civil, aat/no-changes, prod/no-changes, rel:civil-general-applications-pr-1486

#1484 CIV-15178 add new paragraph
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1484

#1494 Feat/civ 14423
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1494

#1492 CIV-0000 Bulk sp4 to master
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplyForHwFDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationWhenFinalOrderMadeApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationWhenFinalOrderMadeRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/HwFDashboardNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplyForHwFDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationWhenFinalOrderMadeApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationWhenFinalOrderMadeRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1492

#1482 DTSCCI-916 Reduce Application Insights
  lib/applicationinsights.json
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1482
