Repository hmcts/civil-general-applications, pull requests merged in 2024-07, with the labels that each got.

#1376 DTSCCI-490 remove deprecated property volume lib
  build.gradle
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  charts/civil-general-applications/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1376

#1383 DTSCCI-490 remove deprecated property volume lib
  charts/civil-general-applications/values.preview.template.yaml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1383

#1387 DTSCCI-490 map os postcode key to ordnance survey api key
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.yaml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1387

#1373 CIV-12765 HwF Caseworker - Part Remission
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HWFCallbackHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandlerTest.java
Labels: prd:civil, stale, ns:civil, rel:civil-general-applications-pr-1373

#1389 CIV-12764 Fee Payment Outcome
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HWFCallbackHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/FeePaymentOutcomeDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/HwFFeeTypeServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1389

#1391 CIV-13549 - Added missing field.
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1391

#1374 CIV-14056 Send Respondent notify when Judge Uncloaks
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/JudicialDecisionRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1374

#1390 CIV-14064 Handle additional fee
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/fee/AdditionalFeeValueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1390

#1400 CIV-14127 Court Response Document - Without notice becomes with notice
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgedecisionpdfdocument/JudgeDecisionPdfDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RequestForInformationGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1400
