Repository hmcts/civil-general-applications, pull requests merged in 2024-12, with the labels that each got.

#1561 CIV-15113 use stitching
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/client/EvidenceManagementApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/RetryableStitchingException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/StitchingFailedException.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendTranslatedOrderToLiPCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Bundle.java
  src/main/java/uk/gov/hmcts/reform/civil/model/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/BundleRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/IdValue.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Value.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/Bundle.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleCreateResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingRequestDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/PostOrderCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/BundleRequestExecutor.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/DocumentStitcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/CaseDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendTranslatedOrderToLiPCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/stitching/BundleRequestExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1561, aat/add-or-update, prod/add-or-update

#1600 CIV-16014 removed duplicate draft documnet
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1600

#1602 CIV-16040 enabled dashboard notifications for sequential lip applicant
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1602

#1603 CIV-15684 present more than 10 result
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1603

#1560 CIV-15377 - Configure Role Assignments Url
  charts/civil-general-applications/values.preview.template.yaml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1560

#1612 DTSCCI-305 Case id instead of case data
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/DispatchBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndHearingScheduledBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1612

#1613 DTSCCI-0000: Allow colon in PR title
  .github/workflows/main.yml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1613

#1598 CIV-15975 Include all instances of unavailable dates
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/GADraftForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/UnavailableDates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1598

#1604 CIV-15976 - GA Lip - Dashboard notifications are not updated after deadline past scheduler run for urgent application
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAResponseDeadlineTaskHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1604

#1606 CIV-16015 added code for updating tasklist
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1606

#1615 CIV-16312 - Incorrect notifications following order for Written Representations
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1615

#1619 CIV-15934 unable to open document from claimant collection
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1619

#1622 CIV-16319 - View Applications link inactive to respondent following No Remission HWF outcome
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1622

#1616 CIV-15815 remove logic to show the pay the additional fee button
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1616
