Repository hmcts/civil-general-applications, pull requests merged in 2025-07, with the labels that each got.

#1756 CIV-16916 - Re-trigger application flow after translation uploaded (Application summary documents) - enable state change
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/WaitCivilDocUpdatedTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1756

#1758 CIV-0000 Supress cve's
  config/owasp/suppressions.xml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1758

#1763 DTSCCI-000: add process to update ga cml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/RetriggerUpdateCaseMgmtLocationDataHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/RetriggerUpdateCaseManagementLocationEventExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/RetriggerUpdateCaseMgmtLocationDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, runFailedTestFiles, rel:civil-general-applications-pr-1763

#1770 DTSCCI-2334 Implement Run Failed Tests as Default Behaviour to Master and PR
  Jenkinsfile_CNP
  bin/run-api-tests.sh
  build.gradle
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1770

#1773 DTSCCI-000 Revert Remove fortify scan from nightly
  Jenkinsfile_nightly
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1773

#1761 CIV-16923 pause direction order
  src/main/java/uk/gov/hmcts/reform/civil/enums/welshenhancements/PreTranslationGaDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowEngineTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1761

#1762 CIV-16920 - More information request - pause application during translation
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/welshenhancements/PreTranslationGaDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendTranslatedOrderToLiPCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendTranslatedOrderToLiPCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1762

#1764 CIV-16897 Pause/unpause dismissal order
  src/main/java/uk/gov/hmcts/reform/civil/enums/welshenhancements/PreTranslationGaDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtilTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1764

#1784 DTSCCI-2302 Add logging
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentGeneratorService.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1784

#1757 CIV-16919 Retrigger flow after written reps translation upload
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/config/DocumentGeneratorApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/DocumentConversionException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocumentConversionService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/stitch/PdfMergeException.java
  src/main/java/uk/gov/hmcts/reform/civil/stitch/PdfMerger.java
  src/main/java/uk/gov/hmcts/reform/civil/stitch/service/CivilStitchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocumentConversionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stitch/PdfMergerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stitch/service/CivilStitchServiceTest.java
  src/test/resources/stitch-documents/merged.pdf
  src/test/resources/stitch-documents/test1.pdf
  src/test/resources/stitch-documents/test2.pdf
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1757

#1786 DTSCCI-000 Add Suppression
  config/owasp/suppressions.xml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1786
