Repository hmcts/civil-general-applications, pull requests merged in 2025-09, with the labels that each got.

#1791 CIV-16912 Implement translation for response docs
  src/main/java/uk/gov/hmcts/reform/civil/enums/welshenhancements/PreTranslationGaDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocUploadUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/DocUploadUtilsTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1791

#1801 CIV-17543 Bilingual email not received for Welsh Lip following Approve/Edit order
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1801

#1799 CIV-17488 added cui added nro
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1799

#1814 DTSCCI-2462 Enable fortify scan again
  Jenkinsfile_nightly
  build.gradle
Labels: prd:civil, stale, ns:civil, rel:civil-general-applications-pr-1814

#1816 DTSCCI-2686: parent case npe
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateGaLocationCallbackHandler.java
Labels: prd:civil, stale, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1816

#1805 CIV-17609 updated GA documents to display main claim number
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RespondToWrittenRepresentationGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/consentorder/ConsentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/FreeFormOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RequestForInformationGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/requestmoreinformation/RespondForInformationGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentailOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RespondToWrittenRepresentationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/applicationdraft/GeneralApplicationDraftGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/consentorder/ConsentOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/directionorder/DirectionOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/finalorder/AssistedOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/generalorder/GeneralOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RequestForInformationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/requestforinformation/RespondForInformationGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationconcurrentorder/WrittenRepresentationConcurrentGeneratorOrderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/writtenrepresentationsequentialorder/WrittenRepresentationSequentialGeneratorOrderTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1805
