Repository hmcts/civil-general-applications, pull requests merged in 2025-02, with the labels that each got.

#1664 CIV-16553 Dashboard notification - update delete list for 'Judge has requested more information'
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1664

#1669 CIV-16579 Build hearing estimate text from days/hrs/mins
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAJudgesHearingListGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialTimeEstimateHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialTimeEstimateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearingorder/HearingOrderGeneratorTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1669

#1666 CIV-16575 fix issue
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1666

#1673 CIV-16560 Amendments to Judge's journey - GA for LiPs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dismissalorder/DismissalOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionHelperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1673

#1675 CIV-16619 hearing order notification
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1675

#1676 CIV-16576 add optional
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudicialDecisionHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1676

#1677 CIV-16577 Email notifications for free form order
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialDecisionNotificationUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationCriterion.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1677

#1687 DTSCCI-1716 upgrade terraform version
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: prd:civil, ns:civil, aat/no-changes, prod/no-changes, rel:civil-general-applications-pr-1687
