Repository hmcts/civil-general-applications, pull requests merged in 2025-06, with the labels that each got.

#1740 DTSCCI-2243 Remove Run All Tests When There Are No Failed Tests
  bin/run-api-tests.sh
  build.gradle
Labels: prd:civil, ns:civil, runFailedTestFiles, rel:civil-general-applications-pr-1740

#1741 DTSCCI-000 Clean Up FT Runner
  bin/run-api-tests.sh
Labels: prd:civil, ns:civil, runFailedTestFiles, rel:civil-general-applications-pr-1741

#1727 CIV-17105 Email signature updates
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/config/NotificationsSignatureConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HwfNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/EmailFooterUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralApplicationCreationNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HearingScheduledNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HwfNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialDecisionRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/EmailFooterUtilsTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1727

#1742 CIV-16914 added changes to create work allocation task for wlu
  src/main/java/uk/gov/hmcts/reform/civil/enums/welshenhancements/PreTranslationGaDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ApplicationProcessCaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GASpecCaseEventExternalTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowEngineTest.java
Labels: prd:civil, ns:civil, runFailedTestFiles, rel:civil-general-applications-pr-1742

#1754 DTSCCI-2086 swtich from jitpack
  .github/workflows/ado_artifacts_build.yml
  build.gradle
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1754

#1748 CIV-16915 - Respond to application - Changes to WA task
  src/main/java/uk/gov/hmcts/reform/civil/enums/welshenhancements/PreTranslationGaDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateApplicationDraftCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowEngineTest.java
Labels: prd:civil, ns:civil, runFailedTestFiles, rel:civil-general-applications-pr-1748
