Repository hmcts/civil-general-applications, pull requests merged in 2025-08, with the labels that each got.

#1767 CIV-16895 Translation of general/approve/edit order document (GA) - unpause
  file.pdf
  src/main/java/uk/gov/hmcts/reform/civil/enums/welshenhancements/PreTranslationGaDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GeneratePDFDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1767

#1775 CIV-16907 Pause and Unpause of GA during translation of hearing notice (GA)
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/welshenhancements/PreTranslationGaDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeDocumentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1775

#1796 CIV-17484 Use document am client rather than doc-store for download
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendTranslatedOrderToLiPCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendTranslatedOrderToLiPCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1796

#1794 CIV-17531 - Pause and un-pause application for translation for zero application fee scenarios
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UploadTranslatedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowEngineTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1794
