Repository hmcts/civil-general-applications, pull requests merged in 2025-05, with the labels that each got.

#1717 DTSCCI-2066: Custom Authorisation Filter
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/security/CustomAuthCheckerUserOnlyFilter.java
  src/test/java/uk/gov/hmcts/reform/civil/security/CustomAuthCheckerUserOnlyFilterTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1717

#1721 DTSCCI-2079: Tomcat suppressions
  config/owasp/suppressions.xml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1721

#1722 CIV-17120 Added new casefields for wa welsh translation tasks
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocUploadUtils.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1722

#1729 CIV-17186 added feature toggle for welsh fields
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocUploadUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/DocUploadUtilsTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1729

#1730 DTSCCI-0000 Add logging
  src/main/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchService.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1730

#1731 DTSCCI-2237 Add flowstate endpoint
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1731

#1732 DTSCCI-2238 Implement Run Failed Tests on Civil General Applications Nightly
  Jenkinsfile_nightly
  bin/run-nightly-api-tests.sh
  build.gradle
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1732

#1735 DTSCCI-0000 Add logging
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GAJudgeRevisitTaskHandler.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1735
