Repository hmcts/civil-general-applications, pull requests merged in 2025-01, with the labels that each got.

#1624 CIV-16348 Check addnl payment status before progressing
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
Labels: prd:civil, stale, ns:civil, rel:civil-general-applications-pr-1624

#1628 CIV-16366 - HwF section missing from application tab - display issue
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplyForHwFDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HWFCallbackHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdatedRefNumberHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplyForHwFDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdatedRefNumberHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/util/HwFFeeTypeServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1628

#1627 CIV-16371 Fix respondent notification not sent
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
Labels: prd:civil, stale, ns:civil, rel:civil-general-applications-pr-1627

#1633 CIV-16316 amend welsh
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1633

#1630 CIV-16019 added to show order made notification for judge made decision on Additional response time expired
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1630

#1629 CIV-16361 Send respondent notification if free app
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationIssuedRespondentDashboardNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationIssuedRespondentDashboardNotificationHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1629

#1636 DTSCCI-1364 upgrade ccd chart
  charts/civil-general-applications/Chart.yaml
  charts/civil-general-applications/values.aat.template.yaml
  charts/civil-general-applications/values.preview.template.yaml
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1636

#1638 CIV-16388 added code to show order made notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1638

#1623 CIV-15941 added code to show claimant name for respondent email
  src/main/java/uk/gov/hmcts/reform/civil/service/JudicialNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialApplicantNotificationServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1623

#1640 CIV-16408 - Urgent LR v Lip Application Journey - Notification on Lip dashboard not update following LR response
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToWrittenRepresentationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrder.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadAdditionalDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToJudgeAddlnInfoHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondWrittenRepresentationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResponseToJudgeDirectionsOrderHanderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadAdditionalDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1640

#1620 CIV-15643 COSC API Tests
  bin/add-roles.sh
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1620

#1643 CIV-16432 Fix addl payment notification after response time expired
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandlerTest.java
Labels: prd:civil, ns:civil

#1607 DTSCCI-1254 - Fix Camunda Bug - inconsistent with civil service
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: prd:civil, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1607

#1647 DTSCCI-0000 - remove logs
  src/main/java/uk/gov/hmcts/reform/civil/service/ParentCaseUpdateHelper.java
Labels: prd:civil, ns:civil

#1653 CIV-16449 fix null pointer exception
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
Labels: prd:civil, ns:civil

#1654 CIV-16485 - Part remission - caseworker HwF display not updated following Fee payment outcome event
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/HwfNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HwFFeeTypeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/HwfNotificationServiceTest.java
Labels: prd:civil, ns:civil

#1658 CIV-0000 Remove dashboard toggle
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationIssuedFeeRequiredHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationIssuedRespondentDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ApplicationSubmittedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationUploadTranslatedDocumentApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationUploadTranslatedDocumentRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationWhenFinalOrderMadeApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateDashboardNotificationWhenFinalOrderMadeRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateMakeDecisionDashboardNotificationForRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/CreateRespondentDashboardNotificationForApplicationSubmittedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DeleteWrittenRepresentationNotificationDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/TaskListForClaimantUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/TaskListForRespondentUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ModifyStateAfterAdditionalFeeReceivedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationServiceTest.java
Labels: prd:civil, ns:civil
