Repository hmcts/civil-general-applications, pull requests merged in 2025-03, with the labels that each got.

#1682 CIV-16638 Take main case offline when claimant responds to app to vary judgment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/EndGeneralAppBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowEngineTest.java
Labels: prd:civil, ns:civil, aat/no-changes, prod/no-changes, rel:civil-general-applications-pr-1682

#1684 DTSCCI-1691 Bump deprecated java chart
  charts/civil-general-applications/Chart.yaml
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1684

#1681 CIV-16607 amendments to welsh translations for ga CUI
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1681

#1688 CIV-16691 Added notification for when application goes offline
  src/main/java/uk/gov/hmcts/reform/civil/client/DashboardApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplicationProceedsInHeritageEventCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplicationProceedsInHeritageEventCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocUploadDashboardNotificationServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1688

#1683 DTSCCI-1474 changing post state GA
  README.md
  src/main/java/uk/gov/hmcts/reform/civil/service/StateGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/StateGeneratorServiceTest.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1683

#1696 DTSCCI-1074 Add new doc removal role
  bin/add-roles.sh
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1696

#1686 CIV-16672 Allow GA in case discontinued/settled states
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
Labels: prd:civil, ns:civil, rel:civil-general-applications-pr-1686

#1691 DTSCCI-1568: Add Flags to Party model
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseflags/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseflags/Flags.java
Labels: prd:civil, stale, ns:civil, enable_keep_helm, rel:civil-general-applications-pr-1691
